@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #010914;
    color: #FFFFFF;
    font-family: 'Anonymous Pro', serif;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin: 0;
    min-width: 760px;
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content_center {
    display: flex;
    justify-content: space-between;
    background-color: #56667B;
    border-radius: 40px;
    width: 100%;
    /*max-width: 1000px;*/
    overflow: hidden; 
}

.descricao {
    margin: 5px;
    padding:10px;
    width: 70%;
    min-width:730px;  
}

.titulo {
    font-size: 64px;
    font-weight: 700;
    
}

.sub-tile {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
}
p {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
.texto {
    margin: 5px;
    padding: 10px;
    text-align: justify;
}
.citacao{
    margin: 10px;
}
.citacao__fala{
    margin-top: 10px;
    padding:10px;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.citacao__autor {
    margin-top: 10px;
    padding:10px;
    margin-bottom: 10px;
    font-weight:inherit;
    font-weight: 700;
    font-style: italic;
    text-align: right;
}
#botao {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.botao {
    border-radius: 40px;
    width: 260px;
    background-color: #D9D9D9;
    margin: 10px;
    padding: 15px;
    color:#CC02BF;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
}

.destaque {
    color:#00d0ff;
}

.perfil {
    display: flex;
    margin: 5px;
    padding: 5px;
    border-radius: 40px;
    width: 100%;
    height: auto;
    object-fit: cover;
}