@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

:root {
    --cor-primaria: #CC02BF;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #9773cd;
    --cor-de-fundo: #010914;
}

* {
    margin: 0;
    padding: 0;
}
body {
   /*height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--cor-secundaria);
    font-family: 'Anonymous Pro', serif;
    font-style: normal;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header{
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    padding-bottom: 0;
    background-color: var(--cor-primaria);
    width: 100%;
    box-sizing: border-box;
}

.titulo {
    margin: 10px;
    font-size: 64px;
    font-weight: 700;

}

.sub-tile {
    margin: 10px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;

}

.sub_sub_title {
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.menu_botao{
    background-color: var(--cor-terciaria);
    padding: 20px;
    display:inline-flex;
    justify-content: center;
    width: 500px;
    margin: 5px;
    padding: 15px;
    color:var(--cor-secundaria);
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
}
.menu_botao:hover {
    background-color: var(--cor-terciaria);
    color:#033ed5;
}

main {
    display: block;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100$;
}

#content_center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.2% 10%;
}

#content_center_curriculo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 10%;
}

.dados{
    margin: 5px;
    padding: 2px;
    font-size: 15px;
    text-align: justify;
}

.link_1{
    color: #008cdc;
    text-decoration: none;
}

.xp {
    padding: 5px;
}

.descricao {
    margin: 0% 5px;
    padding: 2% 10% ;
    width: 80%;
    gap: 40px;
}

p {
    margin: 0px;
    padding: 5px;
    font-size: 20px;
    text-align: justify;

}
.texto {
    margin: 0px;
    padding: 5px;
    text-align: justify;
}

.texto_1 {
    margin: 0px;
    padding: 2px;
    text-align: justify;
}

#botao {
    /* margin: 20px; */
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.botao_text {
    /* margin: 5px; */
    padding: 10px;
}

.botao {
    display: flex;
    border-radius: 10px;
    width: 260px;
    border: 2px solid var(--cor-primaria);
    margin: 10px;
    padding: 15px;
    color:var(--cor-primaria);
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    justify-content:center;
    align-items: center;
}

.ico {
    margin: 10px;
    width: 51px;
    height: auto;
    background-color: var(--cor-primaria);
    border-radius: 40px;
}

.botao:hover{
    border: 2px solid #071ff6;
    background-color: var(--cor-secundaria);
    color:#071ff6;

}

.destaque {
    color:var(--cor-primaria);
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 5px;  */
    padding: 10px;
    border-radius: 40px;
    height: 450px;
}

.perfil:hover {
    border: 2px solid var(--cor-primaria);
    height: 455px;
    width:auto;
}

.footer {
    padding: 0.1%;
    width: 100%;
    box-sizing: border-box;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;

}