@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

:root {
    --cor-primaria: #003dad;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #061174;
    --cor-de-fundo: hsl(220, 45%, 9%);
    --cor-de-fundo1: hsla(190, 100%, 83%, 0.596);
    --cor-de-texto: #000000;
}

* {
    margin: 0;
    padding: 0;
}
body {
   /*height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: 'Anonymous Pro', serif;
    font-style: normal;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header{
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    padding-bottom: 0;
    background-color: var(--cor-primaria);
    width: 100%;
    box-sizing: border-box;
}

.titulo {
    color: var(--cor-secundaria);
    margin: 10px;
    font-size: 4rem;
    font-weight: 700;

}

.sub-title {
    color: var(--cor-secundaria);
    margin: 10px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 700;
}

.sub_sub_title {
    margin: 10px;
    font-size: 1.25rem;
    font-weight: 700;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.menu_botao{
    background-color: var(--cor-terciaria);
    padding: 20px;
    display:inline-flex;
    justify-content: center;
    width: 500px;
    margin: 5px;
    padding: 15px;
    color:var(--cor-secundaria);
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
}
.menu_botao:hover {
    background-color: var(--cor-terciaria);
    color:#033ed5;
}

main {
    display: block;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

#content_center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.2% 10%;
}

#content_center_curriculo {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    padding: 1% 10%;
}

.dados {
    margin: 0;
    padding: 2px;
    font-size: 0.93rem;
    text-align: justify;
}

.link_1{
    color: #1a0ce4;
    text-decoration: none;
}

.xp {
    padding: 5px;
}

.descricao {
    background-color: var(--cor-de-fundo1);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0% 0px;
    padding: 2% 5% ;
    width: 50%;
}

.descricao__curriculo {
    background-color: var(--cor-de-fundo1);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin: 0% 5px;
    padding: 2% 5% ;
    width: 50%;
    gap: 10px;
}
p {
    margin: 0px;
    padding: 5px;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: justify;

}
.texto {
    margin: 0px;
    padding: 5px;
    text-align: justify;
}

.texto_1 {
    margin: 0px;
    padding: 2px;
    text-align: justify;
}

.formacao{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}


#botao {
    /* margin: 20px; */
    padding: 25px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao_text {
    /* margin: 5px; */
    padding: 10px;
    width: 50%;
    text-align: center;
    
}

.botao {
    display: flex;
    border-radius: 10px;
    width: 100%;
    max-width: 260px;
    border: 2px solid var(--cor-primaria);
    margin: 10px;
    padding: 15px;
    color:var(--cor-primaria);
    font-size: 2.5rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    justify-content:center;
    align-items: center;
}



.ico {
    margin: 10px;
    width: 20%;
    background-color: var(--cor-primaria);
    border-radius: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.botao:hover{
    border: 2px solid #071ff6;
    background-color: var(--cor-secundaria);
    color:#071ff6;

}

.destaque {
    color:var(--cor-primaria);
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 5px;  */
    padding: 10px;
    border-radius: 40px;
    height: 450px;
}

.perfil:hover {
    border: 2px solid var(--cor-primaria);
    width: 50%;
    width:auto;
}

.footer {
    padding: 0.1%;
    width: 100%;
    box-sizing: border-box;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (max-width: 1072px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        font-size: 2rem;
    }

    .sub-title {
        margin-bottom: 5px;
        font-size: 0.8rem;
        color: var(--cor-secundaria);
    }

    .sub_sub_title {
        font-size: 1rem;
    }

    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu_botao {
        width: 100%;
        font-size: 1rem;
        margin: 2px;
    }

    #content_center, #content_center_curriculo {
        flex-direction: column-reverse;
        padding: 2% 5%;
    }

    main {
        flex-direction: column-reverse;
    }

    .descricao {
        width: 80%;
    }

    p, .texto, .texto_1 {
        font-size: 1rem;
    }
    

    #botao {
        width: 100%;
        padding: 20px;
    }

    .botao_text {
        width: 80%;
    }

    .botao {
        font-size: 1.5rem;
        width: 80%;
        max-width: 200px;
    }

    .ico {
        width: 15%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        padding: 0.5%;
    }
}
